:root {
  --primary-color: #2ecc71;
  --primary-font-color: #6a6e71;
  --light-font-color: #d1d6da;
  --light-bg-color: #f3f2f3;
  --dark-bg-color: #252f31;
  --darker-bg-color: #191e22;
  --input-bg-color: #4b5557;
}

/* Global */
* {
  font-family: "Arial", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: var(--primary-font-color);
}

.container {
  width: 100%;
  margin: auto;
}

.row {
  display: flex;
  flex-flow: wrap;
  margin: 0 -15px;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 15px;
}

.between {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
.btn,
figcaption {
  color: var(--dark-bg-color);
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
}

p,
q {
  line-height: 1.7;
}

q {
  font-size: 1.125rem;
  font-style: italic;
}

.light-bg {
  background-color: var(--light-bg-color);
}

.dark-bg {
  background-color: var(--dark-bg-color);
}

.p {
  padding: 0.5rem 0.75rem;
}

.py {
  padding-top: 50px;
  padding-bottom: 50px;
}

.py h2 {
  margin-top: 0;
}

.pt {
  padding-top: 1rem;
}

.pl {
  padding-left: 2rem;
}

.mt {
  margin-top: 1.5rem;
}

.btn {
  padding: 0.75rem 1.5rem;
  cursor: pointer;
}

.main-btn {
  font-weight: 600;
  color: var(--primary-color);
  background-color: transparent;
  border: 2px solid var(--primary-color);
  margin-top: 1.5rem;
}

.main-tag {
  display: inline-block;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: #fff;
  padding: 0.3rem 0.5rem;
}

hr {
  border: 0;
  height: 2px;
  background-color: var(--light-bg-color);
  margin: 1rem 0;
}

/* Grouping */
nav ul a,
.about-me h3,
.testimonials ul li,
footer a {
  transition: all 0.5s ease-in-out;
}

/* Header */
.slider {
  height: 400px;
  background-image: url("https://picsum.photos/1900/600");
  background-size: cover;
  display: grid;
}

h1 {
  color: #fff;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  display: inline-block;
  padding: 0.5rem;
}

.slider button {
  color: #fff;
  border: 2px solid #fff;
  background-color: transparent;
}

nav h2 {
  color: #fff;
}

nav h2::before {
  content: "F";
  background-color: #666;
  border-radius: 3px;
  padding: 0.25rem 0.5rem;
  margin-right: 0.4rem;
}

nav h2 span {
  color: var(--primary-color);
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul a {
  color: #fff;
  text-decoration: none;
}

nav ul a.active,
nav ul a:active,
nav ul a:hover,
nav ul a:focus {
  color: var(--primary-color);
}

/* About Me */
.about-me {
  background-color: var(--light-bg-color);
}

.about-me .img {
  display: grid;
  padding: 0;
}

.about-me .desc {
  padding: 0 3rem;
}

.about-me .desc p:last-of-type {
  margin-bottom: 0;
}

.about-me h3 {
  margin-top: 0;
}

.about-me .skills i,
.about-me h3:hover {
  color: var(--primary-color);
}

/* My Skills */
.info .skill-progress .progress-bar {
  background-color: var(--light-bg-color);
}

.info .skill-progress span {
  height: 1.5rem;
  line-height: 1.5rem;
  display: block;
  background-color: var(--primary-color);
  color: #fff;
  text-align: right;
}

/* Resume */
.resume {
  position: relative;
}

.resume p {
  font-size: 1.125rem;
}

.resume .down-arrow {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: -40px;
  left: calc(50% - 20px);
  border: 20px solid transparent;
  border-top-color: var(--light-bg-color);
}

/* My Education, Work Experience */
.info header:not(header:last-of-type) {
  margin-bottom: 2rem;
}

.info header h3 {
  margin-bottom: 0.75rem;
}

.info header span:first-of-type {
  display: block;
  margin-bottom: 0.75rem;
}

/* Testimonials */
.testimonials figcaption {
  color: var(--primary-font-color);
  font-size: 1.125rem;
  font-weight: 600;
  margin: 1.25rem 0 1.75rem;
}

.testimonials ul {
  list-style: none;
  padding: 0;
}

.testimonials ul li {
  width: 15px;
  height: 15px;
  border: 3px solid var(--primary-color);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.testimonials ul li.active,
.testimonials ul li:active,
.testimonials ul li:hover,
.testimonials ul li:focus {
  background-color: var(--primary-color);
}

/* Portfolio */
.portfolio header {
  width: 80%;
  margin: 0 auto 20px;
}

.portfolio .work img {
  box-shadow: 0px 0px 9px var(--primary-font-color);
}

/* Contact Me */
.contact-me,
.contact-me a {
  color: var(--primary-font-color);
}

.contact-me h2,
.contact-me .bold,
.contact-me form label {
  color: var(--light-font-color);
}

.contact-me .bold {
  font-weight: 600;
  margin: 0;
}

.contact-me a {
  text-decoration: none;
}

.contact-me .col-6 > p:first-child {
  margin-bottom: 2rem;
}

.contact-me form .group {
  margin-bottom: 1.25rem;
}

.contact-me form label {
  display: block;
  margin-bottom: 0.5rem;
}

.contact-me form input[type="text"],
.contact-me form input[type="email"],
.contact-me form textarea {
  width: 100%;
  background-color: var(--input-bg-color);
  border: none;
}

.contact-me form input {
  height: 2.25rem;
}

.contact-btn {
  color: #fff;
  background-color: var(--darker-bg-color);
  border: none;
}

/* Footer */
footer {
  background-color: var(--darker-bg-color);
  padding: 1rem 0;
}

footer a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

footer a:hover {
  color: var(--primary-color);
}

footer ul {
  list-style: none;
  padding-left: 0;
}

footer ul li {
  width: 2rem;
  height: 2rem;
  display: inline-block;
}

footer ul li a {
  color: var(--primary-font-color);
}

/* Media Queries */
@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
