/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.post {
  float: none;
  margin: auto;
}

.post .css3 {
  border: none;
  /* -webkit-box-shadow: 5px 5px 10px teal, -5px -5px 10px teal;
  box-shadow: 5px 5px 10px teal, -5px -5px 10px teal; */
  -webkit-box-shadow: 0px 0px 15px teal;
  box-shadow: 0px 0px 15px teal;
}

.post .css3 h2 {
  -webkit-transition: 0.5s all ease-in;
  -o-transition: 0.5s all ease-in;
  transition: 0.5s all ease-in;
}

.post .css3 h2:hover {
  text-shadow: 7px 3px 5px #66c4c4;
  /* -webkit-transform: scale(1.15, 1.15) translateX(30px) rotate(-1deg)
    skew(10deg);
  -ms-transform: scale(1.15, 1.15) translateX(30px) rotate(-1deg) skew(10deg);
  transform: scale(1.15, 1.15) translateX(30px) rotate(-1deg) skew(10deg); */
  -webkit-transform: matrix(1.15, -0.015, 0.05, 1.15, 30, 0);
  -ms-transform: matrix(1.15, -0.015, 0.05, 1.15, 30, 0);
  transform: matrix(1.15, -0.015, 0.05, 1.15, 30, 0);
}

.post .css3 section {
  -webkit-perspective: 200px;
  perspective: 200px;
  -webkit-perspective-origin: bottom;
  perspective-origin: bottom;
}

.post .css3 #ellipsis {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}

.post .css3 #ellipsis.show {
  white-space: normal;
  overflow: visible;
  -o-text-overflow: clip;
  text-overflow: clip;
}

.post .css3 .read-btn {
  cursor: pointer;
  color: #fff;
  background-color: teal;
  font-size: small;
  font-weight: bold;
  padding: 5px 10px;
  margin: 10px 0;
}

.post .css3 .read-btn#less {
  display: none;
}

.post .css3 img {
  display: block;
  margin: 20px auto 0;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.post .css3 .rotated-img:hover {
  -webkit-transform: translateZ(50px) rotateZ(180deg);
  transform: translateZ(50px) rotateZ(180deg);
}

.post .css3 .scaled-img:hover {
  -webkit-transform: scaleZ(1.1) rotateX(30deg) translateY(-20px);
  transform: scaleZ(1.1) rotateX(30deg) translateY(-20px);
}

.post .transform .parent {
  width: 300px;
  height: 200px;
  background-color: #66c4c4;
  margin: 20px auto;
  position: relative;
  -webkit-perspective: 200px;
  perspective: 200px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.post .transform .parent:hover {
  -webkit-transform: scale(1.25) rotateY(45deg);
  transform: scale(1.25) rotateY(45deg);
}

.post .transform .parent > div {
  position: absolute;
  top: 20%;
  left: 20%;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.post .transform .child1 {
  width: 200px;
  height: 100px;
  background-color: bisque;
}

.post .transform .child2 {
  width: 100px;
  height: 50px;
  background-color: thistle;
}

.post .transform .parent:hover .child1 {
  -webkit-transform: translateZ(45px) rotateY(45deg);
  transform: translateZ(45px) rotateY(45deg);
}

.post .transform .parent:hover .child2 {
  -webkit-transform: translateZ(100px) rotateX(25deg);
  transform: translateZ(100px) rotateX(25deg);
}

.post .backface {
  -webkit-perspective: 400px;
  perspective: 400px;
}

.post .backface .card {
  width: 400px;
  min-height: 200px;
  height: 280px;
  margin: 20px auto;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.post .backface .card:hover {
  -webkit-transform: scale(0.85) rotateX(180deg);
  transform: scale(0.85) rotateX(180deg);
}

.post .backface .card > div {
  color: #fff;
  font-size: 30px;
  text-align: center;
  background-color: #ccc;
  border: 1px solid teal;
  border-radius: 5px 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.post .backface .front header {
  position: relative;
  height: 70px;
  margin-bottom: 30px;
  background-color: teal;
  border-radius: 4px 29px 0 0;
}

.post .backface .front img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 20px;
  left: calc(50% - 50px);
  border-radius: 50%;
}

.post .backface section {
  padding: 20px;
}

.post .backface .card h3 {
  font-size: 1.25rem;
}

.post .backface .card p {
  font-size: 0.9rem;
}

.post .backface .back {
  padding: 50px 20px;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.post .backface .back ul {
  list-style: none;
}

.post .backface .back li,
.post .backface .back a {
  font-size: 1rem;
}

.background {
  min-height: 300px;
  background-image: url("https://picsum.photos/800/500");
  background-size: cover;
  color: #fff;
  padding: 30px;
  border-radius: 20px;
}
